body {
	background-image: url(../img/bg-6.jpg);
	background-position: center;
	background-attachment: fixed;
	/*background-repeat: no-repeat;
	background-size: cover; */
	
}
ul li a, a{
	font-size: 16px;
	font-family: comic sans ms;
	text-decoration: none;
	color: #000;
}
a.volver{
	font-size: 25px;
	color: #000000;
}
ul li a:hover, a:hover{
	text-decoration: underline;
	color:  #007bff;
}
